* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */

.container-fluid {
    max-width: 100%;
}

/* Barra di navigazione  */

nav .row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu a {
    color: black;
    font-size: 12px;
}

a {
    text-decoration: none;
}

ul, ol, menu {
    list-style: none;
}

img {
    width: 100%;
}

.logo {
    display: block;
    width: 100px;
}

.nav-menu .button {
    background-color: #0061FF;
    color: white;
    padding: 3px 10px;
}

/* Main */

.main-content .row {
    display: flex;
}

/* Hero */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.hero {
    background-color: #B4D0E7;
}

.hero .title {
    font-size: 52px;
    font-weight: 800;
    padding: 27px 0px;
}

.hero .description li {
    padding: 0px 5px 25px 5px;
    font-size: 11px;
}

.description {
    flex-grow: 1;
}

.col-4 {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px;
    display: inline;
}

.arrow-down {
    font-size: 27px;
    padding: 5px 5px 8px 0px;
}












/* DEBUG */

/* .debug .container-fluid {
    border: 2px solid black;
    min-height: 100px;
} */

/* .debug .container {
    border: 2px solid black;
    min-height: 300px;
}

.debug .col-12 {
    border: 2px solid black;
}

.debug .col-4 {
    border: 2px solid black;
}

.debug .col-8 {
    border: 2px solid black;
} */

