* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Header */

.container-fluid {
    max-width: 100%;
}

/* Barra di navigazione  */

nav .row {
    justify-content: space-between;
    padding: 10px;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu a {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
}

ul, ol, menu {
    list-style: none;
}

img {
    width: 100%;
}

.logo {
    display: block;
    width: 100px;
}

.nav-menu .button {
    background-color: #0061FF;
    color: white;
    padding: 3px 10px;
}

/* Main */

/* Hero */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.hero {
    background-color: #B4D0E7;
}

.hero .title {
    font-size: 52px;
    font-weight: 800;
    padding: 27px 0px;
}

.hero .description li {
    padding: 0px 5px 25px 5px;
    font-size: 11px;
}

.description {
    flex-grow: 1;
}

.col-4 {
    display: flex;
    flex-direction: column;
}

.hero .button {
    background-color: #0061FF;
    color: white;
    padding: 0px 10px;
    line-height: 30px;
    display: inline-block;
}

.arrow-down {
    font-size: 27px;
    padding: 5px 5px 8px 0px;
}

/* Container piccolo */

.container-sm {
    max-width: 700px;
    margin: 0 auto;
}

/* Plan */
.plan {
    padding-top: 25px;
}

.plan .title {
    font-size: 27px;
}

.plan .title, .radio{
    padding: 16px;
}

.radio div {
    font-size: 11px;
    display: inline;
    margin-right:30px;
}

.radio input {
    vertical-align: middle;
}

input {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    appearance: none;
}

input:checked {
    border: 4px solid #0061FF;
}

/* Plan card */

.plan-card {
    font-size: 11px;
    border: 1px solid lightgrey;
    height: 100%;
}

.plan .thin-card, .big-card {
    padding: 15px;
}

.card-header {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.card-body {
    padding: 16px;
}

.card-body div {
    padding: 15px 0px;
}

.card-body div * {
    padding: 5px 2px;
}

.card-body h3 {
    font-size: 17px;
}

.card-body h5 {
    font-size: 12px;
}

.cta::after {
    content: "";
    display: block;
    width: 48px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.check i {
    color: #0061FF;
}

.price, .month {
    display: block;
}

.card-body .button {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.underlined a {
    text-decoration: underline;
    color: blue;
}

.card-body .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paragraph {
    max-width: 450px;
}

.col-12 .button {
    background-color: #0061FF;
    color: white;
    padding: 0px 19px;
    line-height: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

section {
    padding: 40px 0px;
}

/* Sezione partner */
.button-white {
    color: black;
    padding: 0px 10px;
    line-height: 26px;
    display: inline-block;
    border: 1px solid black;
}

.partner, .functions {
    padding: 15px;
}

.partner-description {
    padding: 41px 25px;
}

.partner p, a {
    font-size: 11px;
}

.partner-description h4 {
    padding-bottom: 10px;
}

.partner-description p {
    padding-bottom: 20px;
}

/* Sezione Functions */

.functions p {
    font-size: 11px;
}

.functions .title {
    padding-bottom: 35px;
    font-size: 27px;
}

.functions-card {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Sezione Clienti */
.clients {
    padding-bottom: 0px;
}

 .clients .title {
    font-size: 27px;
    width: 400px;
 }

 .clients .col-6 {
    aspect-ratio: 1;
    position: relative;
 }

.col-6 img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.logo-designit {
    background-color: #A2D39B;
    border: 10px solid rgba(255, 255, 255, 0.368);
}

.logo-arizona {
    background-color: #61082B;
}

.logo-florida {
    background-color: #0093ce;
}

.logo-topps {
    background-color: #ff1c1c;
}  

.logo-bicycle {
    background-color: #d5001f;
}

.logo-hearst {
    background-color: #b4d0e7;
}

.logo-lonely {
    background-color: #0d2481;
}

.logo-clear {
    background-color: #ffd830;
}

.focus {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 11px;
    background-color: #f5f5f5;
    padding: 25px;
}

.focus img {
    width: 40%;
}

.focus figure::after {
    content: "";
    display: block;
    width: 48px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.number-clients {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 0px 15px 60px 15px;
}

/* Sezione Prova Gratuita */
.trial {
    padding: 0px;
}

.trial .col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trial {
    background-color: #b4d0e7;
}

.trial .title {
    color: #61082b;
    font-size: 27px;
    width: 325px;
}

.trial .button-white {
    color: black;
    padding: 0px 25px;
    line-height: 26px;
    display: inline-block;
    background-color: white;
    border: none;
}

.trial-details {
    padding: 50px 10px 50px 10px;
}












/* DEBUG */

/* .debug .container-fluid {
    border: 2px solid black;
    min-height: 100px;
} */

/* .debug .container {
    border: 2px solid black;
    min-height: 300px;
}

.debug .col-12 {
    border: 2px solid black;
}

.debug .col-4 {
    border: 2px solid black;
}

.debug .col-8 {
    border: 2px solid black;
} */

/* .debug .container-sm {
    border: 2px solid black;
    min-height: 400px;
}

.debug .container-sm .col-4, .col-12 {
    border: 2px solid black;
    min-height: 100px;
} */
